<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/userpage">User</a></li>
            <li><a href="/blogpage">Blog</a></li>
            <li><a href="/addblog">Add blog</a></li>
        </ul>
    </header>
    <form action="/blogs" method="post">
        <input type="text" name="title" placeholder="Enter title">
        <input type="text" name="content" placeholder="enter content">
        <input type="text" name="author" placeholder="enter author name">
        <button type="submit">Add blog</button>
    </form>
</body>
</html>