<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="/userpage">User</a></li>
            <li><a href="/blogpage">Blog</a></li>
            <li><a href="/addblog">Add blog</a></li>
        </ul>
    </header>
    <h1>Welcome to my blog page</h1>
</body>
</html>